@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/DINPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/DINPro-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'DINPro';
    /* src: url('/fonts/DINPro-Regular.ttf'); */
    src: url('/fonts/DINPro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/DINPro-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/DINPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/DINPro-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('/fonts/DINPro-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DINPro', 'Arial';
}


html,
body {

    --colBlue: #009ADE;
    --colOrange: #FF9E18;
    --colGrey: #575756;
    --colBg: #F5F5F5;
}



body {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    color: var(--colGrey);
    background-color: var(--colBg);
    overflow: hidden;
}

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 40px;
}

h2 sup {
    font-weight: 400;
    font-size: 0.75rem;
}

p {
    font-size: 1rem;
}

sup {
    font-size: 1rem;
}

.content {
    position: absolute;
    right: 0;
    top: 0;
    /* width: 1223px; */
    width: 1180px;
    height: 100%;
    padding: 90px;
    padding-left: 45px;
    /* background: lightblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    z-index: 4;
    animation: fadeIn 0.4s ease-in-out;
}

.footnotes {
    justify-self: flex-end;
    align-self: flex-end;
    max-width: 900px;
    list-style: none;
}

.footnote {
    font-size: 0.8rem;
    text-align: end;
    opacity: 0.75;
}

.prev {
    cursor: pointer;
    position: fixed;
    left: 760px;
    top: 479px;
    /* top: 50%;
    transform: translateY(calc(-50% - 64px)); */
}

.next {
    cursor: pointer;
    position: fixed;
    right: 40px;
    top: 479px;
    /* top: 50%;
    transform: translateY(calc(-50% - 64px)); */
}

.blue {
    color: var(--colBlue);
    font-weight: 700;
}

.popupBg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 49;
}

.navLi {
    position: absolute;
    /* transform: translate(0, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navLi img {
    margin-right: 20px;
}

.navLiLink {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.homeNavLiLink {
    /* max-width: 260px; */
}

.v {
    /* position: fixed;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    left: 25.16%;
    /* left: 10.16%; */
    /* top: -28.09%; */
    top: -15.09%;
    z-index: 3;
    transform: rotate(12deg);
    height: 150vh;
}

.bg {
    position: absolute;
    /* left: -80px; */
    left: -4px;
    bottom: -7px;
    width: 1920px;
    height: 1100px;
}

.fade {
    transition: opacity 0.2s ease-in-out;
}