@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}

.wrapper {
    animation: fadeIn 0.4s ease-in-out;
}

.wrapper nav {
    z-index: 2;
}

.dashedEllipse {
    position: absolute;
    left: 200px;
    height: 110vh;
    /* top: 0; */
    /* width: 1565.56px;
    height: 1565.56px;
    left: -1533px;
    top: calc(50% - 1565.56px/2 + 229.78px); */
}